# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db